@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
#slider-line{
    position: absolute;
    bottom: 0;
    right: 1px;
    height: 5px;
    background: limegreen;
    animation: slide 2s ease-in-out 1 forwards;
}
@keyframes slide {
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
@tailwind utilities;